footer{
    margin-top: 40px;
    margin: auto;
    max-width: 1000px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.footerText{
    font-size: 12px;
    font-weight: 700;
}

.socialMediaFooterContainer{
    display: flex;
    align-items: center;
}
.socialMediaAdd{
    font-size: 12px;
    font-weight: 700;
}